* {
    font-family: 'SF Mono', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
}

window#waybar {
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces {
    background-color: #282828;
    padding-left: 0px;
    padding-right: 0px;
    color: #83a598;
}

#workspaces button.active {
    background-color: #282828;
    padding-left: 9px;
    padding-right: 9px;
    color: #83a598;
}

.modules-left {
    padding-left: 0px;
    padding-right: 0px;
}

.modules-right {
    padding-right: 0px;
    padding-left: 0px;
}

.modules-center {
    background-color: #282828;
    padding-right: 20px;
    padding-left: 20px;
}

#battery {
    padding-right: 20px;
    padding-left: 10px;
    margin-right: 0px;
    color: #83a598;
    background-color: #282828;
}



#clock {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 0px;
    background-color: #282828;
    color: #b8bb26;
}

#network {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #282828;
    color: #d3869b;
}

#pulseaudio {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 0px;
    background-color: #282828;
    color: #fabd2f;
}

#backlight {
    padding-right: 20px;
    padding-left: 15px;
    background-color: #282828;
    color: #fe8019;
}

#cpu {
  background-color: #282828;
  color: #ddca9e;
}

#temperature {
  background: #282828;
  color: #ddca9e;
}
